.about-wrapper{
	width: 80%;
    margin: 48px auto; 
}
/*
.about-wrapper a:link, a:visited {
    color: #1a002e;
}

.about-wrapper a:hover{
    color: #a0a4b6;
    text-decoration: none;
    cursor: pointer;
}
*/

.about-wrapper h2{
    display: inline-block;
	font-size: 96px;
	font-weight: bold;
	text-align: left;
}

.about-wrapper img{
    float: right;
    border-radius: 50%;
    max-width: 35%;
    height: auto;
    margin: 0px 0px 12px 12px;
    padding: 0px 0px;
    /*transform:scale(.5);*/
}

.about-text{
	font-size: 18px;
}

.about-text p{
	margin-bottom: 12px;
}

/*
.about-wrapper a:link, a:visited {
    color: #1a002e;
}
*/