.about-wrapper{
	width: 80%;
    margin: 0 auto 10% auto;
    padding: 0;
}
/*
.about-wrapper a:link, a:visited {
    color: #1a002e;
}

.about-wrapper a:hover{
    color: #a0a4b6;
    text-decoration: none;
    cursor: pointer;
}
*/

.about-inner h2{
    display: inline-block;
	font-size: 6.85em;
	font-weight: bold;
	text-align: left;
}

@media screen and (max-width: 540px) {
    .about-inner h2{
        display: inline-block;
        font-size: 4em;
        font-weight: bold;
        text-align: left;
    }
}

.about-inner img{
    float: right;
    border-radius: 50%;
    max-width: 35%;
    height: auto;
    margin: 0px 0px 12px 12px;
    padding: 0px 0px;
    /*transform:scale(.5);*/
}

.about-text{
	font-size: 1.28em;
}

.about-text p{
	margin-bottom: 12px;
}

@media screen and (min-width: 1600px) {
  .about-wrapper{
    width: 60%;
    margin: 0 auto 20% auto;
    padding: 0;
  } 
}

/*
.about-wrapper a:link, a:visited {
    color: #1a002e;
}
*/