.blog-details-wrapper{
    width: 80%;
    margin: 0 auto 10% auto;
    padding: 0; 
}

.blog-details-wrapper h2{
  display: inline-block;
  font-size: 60px;
  font-weight: bold;
  text-align: left;
}

.blog-details-wrapper h3{
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
}

.blog-details-wrapper p{
  font-size: 18px;
  margin-bottom: 12px;
}

.blog-details-wrapper .xkcd-text{
  text-align: center;
}

.blog-details-inner{
  width: 100%;
}

.img-cluster-1 img{
    max-width: 100%;
    height: auto;
    margin: auto;
    justify-content: center;
}

.img-cluster{
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.img-cluster-2 img{
    max-width: 50%;
    height: auto;
    margin: 0px 0px;
}

.img-cluster-3 img{
    max-width: 33.33333%;
    height: auto;
    margin: 0px 0px;
}

@media screen and (max-width: 540px) {
  .blog-details-wrapper h2{
    display: inline-block;
    font-size: 3.5em;
    font-weight: bold;
    text-align: left;
  }

  .blog-details-wrapper h3{
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    text-align: left;
  }
}
