.climate-wrapper{
	width: 80%;
    margin: 48px auto; 
}
/*
.about-wrapper a:link, a:visited {
    color: #1a002e;
}

.about-wrapper a:hover{
    color: #a0a4b6;
    text-decoration: none;
    cursor: pointer;
}
*/

.climate-wrapper h2{
    display: inline-block;
	font-size: 96px;
	font-weight: bold;
	text-align: left;
}

.climate-text{
	font-size: 18px;
}

.climate-text p{
	margin-bottom: 12px;
}

.climate-img{
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.climate-bottom{
    text-align: center;
    font-weight: thin;
}

/*
.about-wrapper a:link, a:visited {
    color: #1a002e;
}
*/