.landing-container-top{
	width: 100%;
	height: 50%;
	padding: 32vh 0 0 0;
	background-color: #ffffff;
	text-align: center;
}

.landing-container-bottom{
	width: 100%;
	height: 50%;
	padding: 0 0 30vh 0;
	background-color: #1a002e;
	text-align: center;
}

.landing-container-top a{
	text-decoration: none;
	text-align: center;
	font-size: 6em;
	color: #1a002e;
}

.landing-container-bottom a{
	text-decoration: none;
	text-align: center;
	font-size: 6em;
	color: #ffffff;
}

.landing-container-top a:link, a:visited {
	text-decoration: none;
    color: #1a002e;
}

.landing-container-top a:hover{
    color: #a0a4b6;
    text-decoration: none;
    cursor: pointer;
}

.landing-container-bottom a:link, a:visited {
	text-decoration: none;
    color: #ffffff;
}

.landing-container-bottom a:hover{
    color: #a0a4b6;
    text-decoration: none;
    cursor: pointer;
}