.about-wrapper{
	width: 80%;
}

.about-header h2{
	font-size: 72px;
	font-weight: bold;
	text-align: center;
	margin: 0px 0px;
	padding: 0px 0px;
}

.about-image{
    width: 100%;
    height: auto;
    border:none;
    margin: 0px 0px;
    padding: 0px 0px;
    transform:scale(.5);
}