/*MAIN SECTION*/
.scoot-about{
	font-size:72px;
	font-weight: bolder;
}

.scoot-header-break{
	background-color: #1a002e;
	height: 10px;
}

.scoot-nav{
	margin-top: 10px;
}

.scoot-nav li{
	color: #1a002e;
	display: inline;
	font-size: 18px;
	margin: 0px 10px 0px 10px;
}

.scoot-nav a:link, a:visited {
    color: #1a002e;
}

.scoot-nav a:hover{
    color: #a0a4b6;
    text-decoration: none;
    cursor: pointer;
}

.scoot-nav li:hover{
	color: #a0a4b6;
	text-decoration: none;
	cursor: pointer;
}

.scoot-title{
	font-size: 60px;
	color: #1a002e;
	font-weight: bolder;
}